body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #999999;
    padding: 20px 0;
}

.envelope{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(0,0,0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background: #222222;
    text-align: center;
    padding: 10px 0;
}

.copyright {
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
